<mat-toolbar color="primary">
  Configure Material Components
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side"
               [opened]="true"
               [fixedInViewport]="0"
               [fixedTopGap]="64"
               [fixedBottomGap]="0">
    START
  </mat-sidenav>
  <mat-sidenav-content>



    <!-- Terminal -->
    <div class="terminal">
      <pre>./src/styles.scss</pre>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
