<mat-toolbar color="primary">
  <button mat-mini-fab color="primary" class="home" (click)="goHome()">
    <mat-icon>home</mat-icon>
  </button>
  Configure Material Components
  <span class="example-spacer"></span>
  <button mat-button class="toggle" (click)="toggleTheme()">Toggle Theme</button>

</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side"
               [opened]="true"
               [fixedInViewport]="0"
               [fixedTopGap]="64"
               [fixedBottomGap]="0">

    <mat-nav-list>
      <a routerLink="/typography" mat-list-item >
        <span mat-line>Typography</span>
      </a>

      <a routerLink="/badge" mat-list-item >
        <span mat-line>Badge</span>
      </a>

      <a routerLink="/bottom-sheet" mat-list-item >
        <span mat-line>Bottom Sheet</span>
      </a>

      <a routerLink="/button" mat-list-item >
        <span mat-line>Button</span>
      </a>

      <a routerLink="/button-toggle" mat-list-item >
        <span mat-line>Button Toggle</span>
      </a>

      <a routerLink="/card" mat-list-item >
        <span mat-line>Card</span>
      </a>

      <a routerLink="/checkbox" mat-list-item >
        <span mat-line>Checkbox</span>
      </a>

      <a routerLink="/chips" mat-list-item >
        <span mat-line>Chips</span>
      </a>

      <a routerLink="/datepicker" mat-list-item >
        <span mat-line>Datepicker</span>
      </a>

      <a routerLink="/dialog" mat-list-item >
        <span mat-line>Dialog</span>
      </a>

      <a routerLink="/expansion-panel" mat-list-item >
        <span mat-line>Expansion Panel</span>
      </a>

      <a routerLink="/form-field" mat-list-item >
        <span mat-line>Form Field</span>
      </a>

      <a routerLink="/grid-list" mat-list-item >
        <span mat-line>Grid List</span>
      </a>

      <a routerLink="/input" mat-list-item >
        <span mat-line>Input</span>
      </a>

      <a routerLink="/menu" mat-list-item >
        <span mat-line>Menu</span>
      </a>

      <a routerLink="/paginator" mat-list-item >
        <span mat-line>Paginator</span>
      </a>

      <a routerLink="/radio-button" mat-list-item >
        <span mat-line>Radio Button</span>
      </a>

      <a routerLink="/select" mat-list-item >
        <span mat-line>Select</span>
      </a>

      <a routerLink="/slider" mat-list-item >
        <span mat-line>Slider</span>
      </a>

      <a routerLink="/stepper" mat-list-item >
        <span mat-line>Stepper</span>
      </a>

      <a routerLink="/table" mat-list-item >
        <span mat-line>Table</span>
      </a>

      <a routerLink="/tabs" mat-list-item >
        <span mat-line>Tabs</span>
      </a>

      <a routerLink="/toolbar" mat-list-item >
        <span mat-line>Toolbar</span>
      </a>

    </mat-nav-list>


  </mat-sidenav>
  <mat-sidenav-content>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
